.home-container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
/* overflow-x: hidden; */

}

.home-content {
  position: relative;
  overflow: hidden;
  color: var(--color-secondary);
  min-height: 100vh;
  min-width: 100vw;
  font-stretch: extra-expanded;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.home-title {
  font-size: 160px;
  margin-top: 280px;
  transition: font-size .7s ease-in-out, font-weight .7s ease-in-out;
}

.span-home-title {
  transition: font-size 0.4s ease-in;
}

.span-home-title:hover {
  font-size: 250px;
}

.glitch {
  color: white;
  font-size: 60px;
  font-weight: bolder;
  position: relative;
  margin: 0 auto;
  background-color: var(--color-primary);
}

/* Animation de glitch */
@keyframes noise-anim {
  0%,
  100% {
    clip: rect(28px, 9999px, 38px, 0);
  }

  5% {
    clip: rect(46px, 9999px, 15px, 0);
  }

  10% {
    clip: rect(64px, 9999px, 29px, 0);
  }

  15% {
    clip: rect(34px, 9999px, 30px, 0);
  }

  20% {
    clip: rect(10px, 9999px, 42px, 0);
  }

  25% {
    clip: rect(36px, 9999px, 56px, 0);
  }

  30% {
    clip: rect(44px, 9999px, 98px, 0);
  }

  35% {
    clip: rect(14px, 9999px, 36px, 0);
  }

  40% {
    clip: rect(50px, 9999px, 84px, 0);
  }

  45% {
    clip: rect(18px, 9999px, 62px, 0);
  }

  50% {
    clip: rect(90px, 9999px, 92px, 0);
  }

  55% {
    clip: rect(38px, 9999px, 42px, 0);
  }

  60% {
    clip: rect(84px, 9999px, 28px, 0);
  }

  65% {
    clip: rect(20px, 9999px, 20px, 0);
  }

  70% {
    clip: rect(64px, 9999px, 16px, 0);
  }

  75% {
    clip: rect(22px, 9999px, 14px, 0);
  }

  80% {
    clip: rect(34px, 9999px, 82px, 0);
  }

  85% {
    /* clip: rect(74px, 9999px, 32px, 0); */
  }

  90% {
    /* clip: rect(80px, 9999px, 46px, 0); */
  }

  95% {
    /* clip: rect(70px, 9999px, 28px, 0); */
  }
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background-color: var(--color-primary);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

/* Animation de glitch 2 */
@keyframes noise-anim-2 {
  0% {
    clip: rect(42px, 9999px, 18px, 0);
  }

  5% {
    clip: rect(64px, 9999px, 28px, 0);
  }

  10% {
    clip: rect(44px, 9999px, 72px, 0);
  }

  15% {
    clip: rect(30px, 9999px, 86px, 0);
  }

  20% {
    clip: rect(70px, 9999px, 46px, 0);
  }

  25% {
    clip: rect(50px, 9999px, 16px, 0);
  }

  30% {
    clip: rect(22px, 9999px, 26px, 0);
  }

  35% {
    clip: rect(56px, 9999px, 52px, 0);
  }

  40% {
    clip: rect(16px, 9999px, 86px, 0);
  }

  45% {
    clip: rect(90px, 9999px, 64px, 0);
  }

  50% {
    clip: rect(62px, 9999px, 44px, 0);
  }

  55% {
    clip: rect(82px, 9999px, 74px, 0);
  }

  60% {
    clip: rect(28px, 9999px, 98px, 0);
  }

  65% {
    clip: rect(42px, 9999px, 58px, 0);
  }

  70% {
    clip: rect(12px, 9999px, 16px, 0);
  }

  75% {
    clip: rect(68px, 9999px, 12px, 0);
  }

  80% {
    /* clip: rect(42px, 9999px, 26px, 0); */
  }

  85% {
    /* clip: rect(82px, 9999px, 64px, 0); */
  }

  90% {
    /* clip: rect(14px, 9999px, 14px, 0); */
  }

  95% {
    /* clip: rect(40px, 9999px, 16px, 0); */
  }
}


/* Style de la lettre animée avec un autre effet de glitch */
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background-color: var(--color-primary);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;

}

.home-portfolio {
  font-size: 120px;
  font-family: 'Geologica';
  color: var(--color-secondary);
  font-weight: 600;
  margin-top: 80px;
  letter-spacing: 7px;
}

.home-name:hover {
  font-weight: 900;
}

.polygon1 {
  height: 90px;
  width: 130px;
  background: rgba(39, 35, 35, 0);
  background: linear-gradient(146deg, rgba(39, 35, 35, 0) 50%, #ffffff 50%);
  position: absolute;
  bottom: 180px;
  left: 210px;
  transform: perspective(1000px) rotate(150deg) rotateY(30deg);
  transition: transform 0.4s ease-in-out;
}

.polygon1:hover {
  transform: perspective(1000px) rotate(145deg) rotateY(35deg);
}

.polygon2 {
  height: 50px;
  width: 75px;
  background: rgba(39, 35, 35, 0);
  background: linear-gradient(146deg, rgba(39, 35, 35, 0) 50%, var(--color-tertiary) 50%);
  position: absolute;
  bottom: 180px;
  left: 320px;
  transform: perspective(1000px) rotate(100deg) rotateY(30deg);
  transition: transform 0.4s ease-in-out;

}

.polygon2:hover {

  transform: perspective(1000px) rotate(95deg) rotateY(35deg);


}

.polygon3 {
  height: 150px;
  width: 150px;
  background: rgba(39, 35, 35, 0);
  background: linear-gradient(135deg, rgba(39, 35, 35, 0) 50%, #ffffff 50%);
  position: absolute;
  bottom: 180px;
  right: 310px;
  transform: perspective(1000px) rotate(-80deg) rotateY(30deg);
  transition: transform 0.4s ease-in-out;
}

.polygon3:hover {
  transform: perspective(1000px) rotate(-80deg) rotateY(15deg);
}

.polygon4 {
  height: 110px;
  width: 200px;
  background: rgba(39, 35, 35, 0);
  background: linear-gradient(28deg, rgba(39, 35, 35, 0) 50%, #ffffff 50%);
  position: absolute;
  top: 120px;
  left: 350px;
  transform: perspective(1000px) rotate(-20deg) rotateY(30deg);
  transition: transform 0.4s ease-in-out;
}

.polygon4:hover {
  transform: perspective(1000px) rotate(-25deg) rotateY(35deg);

}

.polygon5 {
  height: 85px;
  width: 130px;
  background: rgba(39, 35, 35, 0);
  background: linear-gradient(33deg, rgba(39, 35, 35, 0) 50%, #ffffff 50%);
  position: absolute;
  top: 150px;
  right: 400px;

  transform: perspective(1000px) rotate(-60deg) rotateY(30deg);
  transition: transform 0.4s ease-in-out;

}

.polygon5:hover {
  transform: perspective(1000px) rotate(-55deg) rotateY(40deg);
}