.works-slide1 {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.works-slide1-all-content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.work-slide1-container {
    width: 40%;
    height: 100%;
    position: relative;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;

}

.work-slide1-container2 {
    width: 30%;
    height: 100%;
    display: flex;
    margin-left: 50px;
    position: relative;
}

.work-slide1-container3 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.box-container {
    transform: translateX(-200px) translateY(0px);
    opacity: 0;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    width: 600px;
}



.box-container2 {
    transform: translateY(200px) translateX(200px);
    opacity: 0;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.box-container3 {
    transform: translateY(-100px) translateX(-200px);
    opacity: 0;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.box-container4 {
    transition: opacity 2.4s 3s ease-in-out, transform 2.4s 1.8s ease-in-out;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 130px;

}

.box-container5 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 60px
}

.box-container6 {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 30px;
    right: -20px;
}

.box-container7 {
    position: absolute;
    width: 45px;
    height: 45px;
    bottom: 50px;
    left: 0px;
}



.box {
    position: relative;
    color: var(--color-secondary);
    transition: transform 0.8s cubic-bezier(0.23, 1.83, 0.42, 1.19);
    user-select: none;
}

.works-slide1-box-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-variation-settings: "wdth" 90;
    line-height: 30px;
    text-align: center;
    z-index: 5;
    transition: color 0.4s ease-in;
    user-select: none;


}

.circle-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.coding-img{
    width: 25px;
}
.welcome-img {
    width: 100px;
    user-select: none;
}

.skill-img {
    width: 60px;
    user-select: none;
}


.wst1 {
    font-size: 80px;
    color: var(--color-secondary);
    white-space: nowrap;
    font-weight: 700;
    font-family: "Geologica";
}

.wst2 {
    padding: 20px;
    font-size: 23px;
    color: var(--color-primary);
    font-weight: 300;
    transition: transform 0.4s ease-in-out, font-size 0.4s ease-in-out;
    overflow: hidden;
    min-width: 70%;
}

.work-slide1-span {
    font-weight: 600;
    white-space: nowrap;
    font-variation-settings: "wdth" 90;
    transition: font-variation-settings 0.4s ease-in-out;
}

.work-slide1-span:hover {
    font-weight: 900;
    font-variation-settings: "wdth" 100;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--color-secondary);
    z-index: 10;
    transition: background-color 0.4s ease-in;
}

.circle1 {
    padding-top: 640px;
    animation: 6s linear infinite spinning;
}

.circle2 {
    padding-top: 220px;
    animation: 6s linear infinite spinning;
    animation-delay: 1s;
}

.circle3 {
    padding-top: 170px;
    animation: 7s linear infinite spinning;
    animation-delay: 1.8s;
}

.circle4 {
    padding-top: 48px;
    animation: 7s linear infinite spinning;
    animation-delay: 0.8s;

}



.circle5 {
    padding-top: 37px;
    animation: 6s linear infinite spinning;
    animation-delay: 0.4s;
    border: 3px solid var(--color-tertiary);
}

.circle6 {
    padding-top: 58px;
    animation: 4s linear infinite spinning;
    animation-delay: 1.9s;
}

.circle7 {
    padding-top: 48px;
    animation: 4s linear infinite spinning;
    animation-delay: 2.4s;
}

.box-container:hover .circle1 {
    background-color: var(--color-secondary);
}



@keyframes spinning {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}


.active-scroll-animation {
    transform: translate(0);
    opacity: 1;

}

@media screen and (max-width: 1650px) {


    .works-slide1-all-content {
        width: 100%;
        height: 100%;

    }

    .box-container {
        transform: translateX(0px) translateY(0px);
        opacity: 1;

        width: 410px;
    }

    .work-slide1-container {
        width: 100%;
        height: 100%;


    }




    .box-container2 {
        width: 150px;
        height: 150px;margin-top: 20px;
    } 
    .circle2 {
        padding-top: 170px;
     
    }

    .box-container3 {
margin-bottom: 50px;
    }

    .box-container4 {
     bottom: 40px;
right: 220px;
    }

    .box-container5 {
        top: 20px
    }

    .box-container6 {
        top: 20px;
    }

    .box-container7 {
       bottom: 20px;
    }

    .works-slide1-box-title {

        font-size: 50px;

    }

    .circle1 {
        padding-top: 430px;
        animation: 4s linear infinite spinning;
    }

    .wst2 {

        font-size: 15px;
        font-weight: 300;
        overflow: hidden;
        min-width: 80%;
        line-height: 16px;

    }

}

@media screen and (max-width: 950px) {
    .works-slide1-all-content {
        width: 100%;
        height: 100%;

    }

    .box-container {
        transform: translateX(0px) translateY(0px);
        opacity: 1;
        width: 310px;
    }


    .works-slide1-box-title {
        font-size: 40px;

    }

    .circle1 {
        padding-top: 330px;
        animation: 4s linear infinite spinning;
    }

    .wst2 {
        font-size: 15px;
        font-weight: 300;
        overflow: hidden;
        min-width: 80%;
        line-height: 16px;

    }

    .box-container4 {
     bottom: 50px;
    }

    .box-container5 {
        top: -10px
    }

    .box-container6 {
        top: -20px;
    }

    .box-container7 {
       bottom: 0px;
    }
}
@media screen and (max-width: 750px) {

    .box-container {

        width: 280px;
    }


    .works-slide1-box-title {
        font-size: 40px;

    }
    .wst2{
        font-size: 14px;
        line-height: 13px;
    }

    .circle1 {
        padding-top: 300px;
        animation: 4s linear infinite spinning;
    }
       .work-slide1-container2 {
        display: none;
    }

    .work-slide1-container3 {
        display: none;
    }




    .box-container4 {
   display: none;
    }
    .box-container3 {
   display: none;
    }
    .box-container2 {
   display: none;
    }

    .box-container5 {
       display: none;
    }

    .box-container6 {
display: none;    }

    .box-container7 {
display: none;    }
}