.works-slide2{
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.works-slide2-title{
    /* margin-top: 130px; */
    color: var(--color-secondary);
    font-size: 120px;
    font-weight:300 ;
    transition: font-weight 0.4s ease-in;
    font-family: "Geologica";
 
    /* opacity: 0.30; */
  

}
.works-slide2-span1,.works-slide2-span2,.works-slide2-span3{
    opacity: 0.30;
    transition: opacity 0.4s ease-in,;
}

.works-slide2-title:hover{
 
    font-weight: 500;
}
.buttons-projects-container{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(50px);
    opacity: 0;
    transition: opacity .4s ease-in, transform .4s ease-in;
    /* background-color: aliceblue; */
    
}
.button-project{

    /* width:100px;
    height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    padding: 10px;
    
}

/* .logo-project{
   width: 100px;
   height: 100px;
} */
.button-project-name{
    color: var(--color-secondary);
    font-family: "Geologica";
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.3;
}
.active-button-project{
    opacity: 1;
   }
.all-projects-container{
    height: 50%;
    width: 80%;
    position: relative;
    /* background-color: var(--color-secondary); */
    margin-top: 20px;
    padding: 40px;
    display: flex;
    border: 2px solid white;
    align-items: center;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.4s ease-in, opacity 0.4s ease-in;
 
}
.project-img-container{
    width: 45%;
    height: 72%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: rgb(255, 255, 255); */
   

}

.project-img{
    width: 100%;
    height: 100%;
   object-fit:cover;
   /* filter: grayscale(0%); */

   transition: filter 0.4s ease-in,transform 0.4s ease-in;
   
}
.project-img:hover{

   filter: grayscale(100%);
   transform: scale(1.15);
}
.techno-container{
    position: absolute;
    bottom: 5px;
    left: 5px;
    /* height: 40px; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.techno-logo{
    width: 30px;
   margin: 2px;
}
.project-description-container{
  
    height: 100%;
    width: 55%;
    padding: 35px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.project-description{
    color: var(--color-secondary);
    font-family: "Geologica";
    font-size: 25px;
    line-height: 40px;
    font-weight: 200;
    letter-spacing: 1px;

  
}
.project-github-link{
    position: absolute;
    width: 60px;
    bottom: 20px;
    right: 20px;
    transition: transform 0.4s ease-in;

}
.project-github-link:hover{
  
 transform: scale(1.2);
}


.active-scroll-animation{
    opacity: 1;
    transform: translate(0);
}