.works-slide2 {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.works-slide2-title {
    color: var(--color-secondary);
    font-size: 120px;
    font-weight: 300;
    transition: font-weight 0.4s ease-in;
    font-family: "Geologica";
}

.works-slide2-span1,
.works-slide2-span2,
.works-slide2-span3 {
    opacity: 0.30;
    transition: opacity 0.2s ease-in, ;
}

.works-slide2-title:hover {
    font-weight: 500;
}

.buttons-projects-container {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(50px);
    opacity: 0;
    transition: opacity .4s ease-in, transform .4s ease-in;
}

.button-project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-project-name {
    color: var(--color-tertiary);
    font-family: "Geologica";
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.45;
    font-weight: 200;
}

.button-project-name:hover {
    opacity: 1;
}

.active-button-project {
    opacity: 1;

}

.all-projects-container {
    height: 50%;
    width: 80%;
    position: relative;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    border: 2px solid var(--color-secondary);
    align-items: center;
    justify-content: center;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.4s ease-in, opacity 0.4s ease-in;
}

.project-img-container {
    width: 520px;
    height: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.4s ease-in, transform 0.4s ease-in;
}

.project-img-container:hover .project-img {
    filter: grayscale(100%);
    transform: scale(1.45);
}

.visit-website-link {
    position: absolute;
    cursor: pointer;
    background-color: var(--color-tertiary);
    border-radius: 10px;
    font-family: "Geologica";
    padding: 15px;
    font-size: 20px;
    font-weight: 200;
    color: var(--color-secondary);
    opacity: 0;
    transition: opacity 0.4s ease-in, font-size 0.4s ease-in;
    text-decoration: none;
    text-transform: uppercase;
}

.visit-website-link:hover {
    font-size: 28px;
}

.project-img-container:hover .visit-website-link {
    opacity: 1;
}

.techno-container {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techno-logo {
    width: 30px;
    margin: 2px;
}

.project-description-container {
    height: 100%;
    width: 55%;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.project-description {
    color: var(--color-secondary);
    font-family: "Geologica";
    font-size: 22px;
    line-height: 40px;
    font-weight: 200;
    letter-spacing: 1px;
}

.project-github-link {
    position: absolute;
    width: 60px;
    bottom: 20px;
    right: 20px;
    transition: transform 0.4s ease-in;
}

.project-github-link:hover {
    transform: scale(1.2);
}

.active-span-works-slide2{
    opacity: 1;
}
.active-scroll-animation {
    opacity: 1;
    transform: translate(0);
}

@media screen and (max-width: 950px) {
    .works-slide2-title {
       text-align: center;
        font-size: 40px;
        margin-left: 10px;
       
    }
    .buttons-projects-container {
        width: 90%;
        margin-top: 0px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        transform: translateY(50px);
        opacity: 0;
        transition: opacity .4s ease-in, transform .4s ease-in;
    }
    .button-project-name {

        font-size: 15px;
       
    }
    .all-projects-container {
        height: 67%;
        width: 90%;
        position: relative;
        margin-top: 0px;
        padding: 40px;
      flex-direction: column;
   
    }
    .project-img-container {
        width: 330px;
        height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .project-description-container {
        height: 75%;
        width: 100%;
        padding: 5px;
        margin-top: 20px;
    
     
    }
    .project-description {
        color: var(--color-secondary);
        font-family: "Geologica";
        font-size: 12px;
        line-height: 15px;
      letter-spacing: 0.5px;
    }
    
    .project-github-link {
     
        width: 30px;
        bottom: 10px;
        right: 10px;

    }
    .visit-website-link {
       
        font-size: 18px;
      padding: 10px;
    }
    
    .visit-website-link:hover {
        font-size: 20px;
    }
    
  
}