.home-container{
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    min-width: 100vw;
}
.home-content{
    position: relative;
    
    /* background-color: #2f3542; */
    background-color: #000000;
 
    color: #ffffff;
    height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    font-stretch:extra-expanded;
}
.home-title{   
    font-size: 160px;
    font-family: "Madena";
    font-stretch:extra-expanded;
    margin-top:150px;
    transition: font-weight .5s linear;
    transition: font-size .5s linear;
    /* text-shadow: 3px -8px 4px rgba(255, 255, 255, 0.111); */
    height: 250px;
    
}
.span-home-title{
    transition: font-size 0.4s ease-in-out;
    
   

}
.span-home-title:hover{
       font-size: 275px;
    
}
.home-name{
    font-size: 60px;
    font-family: "Madena";
    /* font-stretch:condensed; */
}



.glitch {
    color: white;
    font-size: 60px;
    font-weight: bolder;
    position: relative;
    /* width: 400px; */
    margin: 0 auto;
    background-color: #000000;
   
  }
  
  /* Animation de glitch */
  @keyframes noise-anim {
    0% {
      clip: rect(100px, 9999px, 10px, 0);
    }
    5% {
      clip: rect(46px, 9999px, 15px, 0);
    }
    10% {
      clip: rect(64px, 9999px, 29px, 0);
    }
 
    100% {
      clip: rect(28px, 9999px, 38px, 0);
    }
  }
  
  /* Style de la lettre animée avec l'effet de glitch */
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background-color: #030303;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 3s infinite linear alternate-reverse;
  }
  
  /* Animation de glitch 2 */
  @keyframes noise-anim-2 {
    0% {
      clip: rect(10px, 9999px, 42px, 0);
    }
    5% {
      clip: rect(64px, 9999px, 28px, 0);
    }
    10% {
      clip: rect(44px, 9999px, 72px, 0);
    }
 
    100% {
      clip: rect(42px, 9999px, 18px, 0);
    }
  }
  
  /* Style de la lettre animée avec un autre effet de glitch */
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background-color: #030303;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
  .home-cards{
    width: 100%;
    height: 320px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
  
  }
  .home-card{
    width: 33%;
    height: 100%;
    /* background-color: rgb(255, 81, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: "Madena";
  
  }
  .logo-circles-home{
    width: 250px;
   
  }

