.header{
    position: fixed;
    
       right: 0%;
   /* height: 40px; */
    min-width: 350px;
    z-index: 10;
    /* transform: rotate(90deg); */
 

}
nav ul{
display: flex;
justify-content:flex-end;
align-items: center;
margin-top: 20px;
/* background-color: aqua; */
}
nav li{
/* margin-right: 30px; */


list-style-type: none;
/* background-color: green; */
display: flex;
justify-content: center;
align-items: center;

min-width: 120px;
transition: transform 0.4s ease-in-out;
}
nav a{
margin-right: 30px;
font-size: 18px;
font-weight: 600;
font-family: "Madena";
text-decoration: none;
color: #000000;
/* color: #ffe70d; */

position: relative;



}
nav a::before {
    content: ""; 
    position: absolute; 
    bottom: -3px;
    left: 0; 
    width: 0%; 
    height: 2px; 
    background-color: #000000; 
    /* background-color:  #ffe70d;  */
   
    transition: width 0.2s ease-in-out;
   
  }
  
  /* Style pour afficher le soulignement lorsqu'on survole le lien */
  nav li:hover a::before {
     width: 100%;
    
  
  }
  nav li:hover {
     transform: scale(1.1);
    
  
  }
  .about-transition{
   position: fixed;
  inset: 0;
   background-color: rgb(255, 255, 255);
   z-index: 11;
   animation: aboutAnim 1s ease-in forwards;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow:hidden;
  }
.about-transition{
white-space: nowrap;
  }
  @keyframes aboutAnim {
 
   50%{
      top: 45%;
      bottom:45%;
      left: 20%;
      right: 20%;
   }
   100%{
      top: 45%;
      bottom:45%;
     left: 100%;
     right: 100%;
   }
   
  }
 