footer{
    /* background-color: aqua; */
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Geologica";
  

}
.social-network{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 20px;

}
.my-linkedin-container, .my-github-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;


}
.social-network-logo{
    width: 50px;
    margin-top: 15px;

}
.social-network-link{
    text-decoration: none;
    color: var(--color-secondary);
}
/* .footer-title{
    color: var(--color-secondary);
    margin-top: 30px;
} */