footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Geologica";
}

.social-network {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 20px;
}

.my-linkedin-container,
.my-github-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border-radius: 10px;
    padding: 20px;
    white-space: nowrap;
}

.social-network-logo {
    width: 50px;
    margin-top: 15px;
    user-select: none;
}

.social-network-link {
    text-decoration: none;
    color: var(--color-secondary);
    user-select: none;
}


@media screen and (max-width: 950px) {

    .social-network {
        justify-content: center;
    }

    .my-linkedin-container,
    .my-github-container {
        padding: 10px;
    }

    .social-network-logo {
        width: 40px;
        margin-top: 10px;
    }

    .social-network-link {
        font-size: 15px;
    }
}