.contact-slide {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Geologica";
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: "Geologica";
    width: 80%;
}

.contact-title {
    color: var(--color-secondary);
    font-size: 80px;
    user-select: none;
}

.first-btn {
    margin-top: 50px;
}

.contact-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 10px;

}

.contact-btn-send {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    font-family: "Geologica";
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin-top: 40px;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.4s ease-in, opacity 0.4s ease-in;
}

.contact-btns {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    font-family: "Geologica";
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    transition: transform 0.4s ease-in;
    border: none;
    min-width: 150px;
}

.contact-btn-send:hover,
.contact-btns:hover {
    transform: scale(1.07);
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: "Geologica";
    width: 50%;
    min-height: 50%;

}

form {
    width: 100%;
    user-select: none;
}

.form-step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contact-labels {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--color-secondary);

}

.contact-inputs {
    width: 100%;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;

}

.contact-message {
    width: 80%;
    height: 300px;
    user-select: none;
}

.error-message {
    color: var(--color-secondary);
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    user-select: none;

}

.email-confirmation-send {
    color: var(--color-secondary);
    font-size: 40px;
    text-align: center;
}

.active-scroll-animation {
    transform: translate(0);
    opacity: 1;

}

@media screen and (max-width: 1650px) {
    .contact-btn-send {    
        font-size: 15px;   
    
    }


    .contact-title {
        font-size: 45px;
    }

    .contact-btns-container {
        width: 100%;
    }

    .contact-form-container {
        display: flex;
        width: 100%;


    }

    form {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .form-step {
        width: 90%;
        height: 100%;
    }

    .contact-btns {
        font-size: 15px;
        padding: 10px;
        min-width: 120px;
    }

    .contact-labels {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contact-inputs {
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
    }

    .error-message {
        font-size: 14px;

    }

    .contact-message {
        width: 90%;
        height: 270px;
    }

}

@media screen and (max-width: 950px) {


    .contact-title {  
        font-size: 45px;
        text-align: center;
    }

    .contact-btns-container {
        width: 100%;
    }

    .contact-form-container {
        display: flex;
        width: 100%;
    }

    form {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .form-step {
        width: 90%;
        height: 100%;
    }

    .contact-btns {
        font-size: 15px;
        padding: 12px;
        min-width: 120px;
    }

    .contact-labels {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contact-inputs {
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
    }

    .error-message {
        font-size: 14px;
    }

    .contact-message {
        width: 90%;
        height: 270px;
    }

}
@media screen and (max-width: 800px) {

    .contact-title {  
        font-size: 45px;
        text-align: center;
    }

    .contact-btns-container {
        width: 100%;
    }

    .contact-form-container {
        display: flex;
        width: 100%;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .form-step {
        width: 90%;
        height: 100%;
    }

    .contact-btns {
        font-size: 15px;
        padding: 12px;
        min-width: 120px;
    }

    .contact-labels {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contact-inputs {
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
    }

    .error-message {
        font-size: 14px;

    }

    .contact-message {
        width: 90%;
        height: 270px;
    }

}