.home-popup {
  z-index: 5;
  height: 100vh;
  max-width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgba(4, 2, 23, 0.057);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: height, 1s ease-in-out;
  user-select: none;

}

.home-popup-tilte {
  margin-Top: 280px;
  font-size: 160px;
  opacity: 0;
  transition: opacity 0.8s linear;
}

.home-popup-title2 {
  font-weight: 400;
  margin-top: 60px;
  font-size: 90px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.button-home {
  padding: 10px;
  border: none;
  background-color: #507aae00;
  width: 300px;
  height: 120px;
  font-size: 100px;
  cursor: pointer;
  margin-top: 80px;
  color: #ffffffad;
  position: relative;
  z-index: 30;
  font-weight: 300;
  transition: transform 0.8s ease-in-out;
  transform: translateY(-200px);


}

.button-home:hover {
  color: var(--color-secondary);
}

.button-home span {
  z-index: -1;
  position: absolute;
  /* transition: font-size 0.2s ease-in;
  transition: font-weight 0.6s ease-in; */
}

/* .button span:hover {
  font-size: 110px;
  font-weight: 400;


} */

.span-anim {
  top: 25%;
  left: 3%;
  transform: translate(-50%, -50%);
}

.span-anim2 {
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.span-anim3 {
  top: 25%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.span-anim4 {
  top: 25%;
  left: 62%;
  transform: translate(-50%, -50%);
}

.span-anim5 {
  top: 25%;
  left: 84%;
  transform: translate(-50%, -50%);
}


.icon-arrow-popup {
  position: absolute;
  top: -15%;
  left: 45%;

  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  transition: transform 0.4s ease-in-out;
}

.active-home {
  opacity: 1;
  transform: translate(0);
}


@media screen and (max-width: 1680px) {
  .home-popup {
  justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: height, 1s ease-in-out;
    background: rgb(3, 1, 16);
  
  }

        
    
  .home-popup-tilte {
    margin-Top: 0px;
    font-size:150px;

   
  }
  
  .home-popup-title2 {

    margin-top: 40px;
    font-size: 70px;
 
  }
  
  .button-home {
  
    font-size: 60px; 
    margin-top: 40px;   
  
  }
  .icon-arrow-popup {
    top: 0%; 
    width: 20px;
    height: 20px;
   
  }
  
  .active-home {
    opacity: 1;
    transform: translate(0);
  }
  .span-anim {
    left: 20%;
    
  }
  
  .span-anim2 {
   
    left: 33%;
    
  }
  
  .span-anim3 {
 
    left: 45%;
 
  }
  
  .span-anim4 {
  
    left: 54%;
   
  }
  
  .span-anim5 {
 
    left: 66%;   
  }

}

@media screen and (max-width: 950px) {
  .home-popup {
  justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: height, 1s ease-in-out;
    background: rgb(3, 1, 16);
  
  }

        
    
  .home-popup-tilte {
    margin-Top: 0px;
    font-size:55px;

   
  }
  
  .home-popup-title2 {

    margin-top: 60px;
    font-size: 40px;
 
  }
  
  .button-home {
  
    font-size: 50px; 
    margin-top: 40px;   
  
  }
  .icon-arrow-popup {
    top: 0%; 
    width: 20px;
    height: 20px;
   
  }
  
  .active-home {
    opacity: 1;
    transform: translate(0);
  }
  .span-anim {
    left: 20%;
    
  }
  
  .span-anim2 {
   
    left: 33%;
    
  }
  
  .span-anim3 {
 
    left: 45%;
 
  }
  
  .span-anim4 {
  
    left: 54%;
   
  }
  
  .span-anim5 {
 
    left: 66%;   
  }

}
