:root {

  --color-primary: #030514;
  --color-secondary: #ffffff;
  --color-tertiary: hsl(324, 80%, 50%);

}

@font-face {
  font-family: 'Madena';
  src: url('./assets/fonts/Merchant/Variable-TT/Merchant-VF.ttf');

}

@font-face {
  font-family: 'Geologica';
  src: url('./assets/fonts/geologica/fonts/variable/Geologica[CRSV\,SHRP\,slnt\,wght].ttf');

}

@font-face {
  font-family: 'Grotesk';
  src: url('./assets/fonts/BDO_grotesk/fonts/variable/BDOGrotesk-VF.ttf');

}

.App {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: var(--color-primary);

}

.all-content {
  width: 100vh;
  height: 100vw;

  overflow-x: hidden;

  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Madena";

}

::-webkit-scrollbar {
  display: none;
}

.slide {
  min-width: 100vw;
  height: 100vh;
  position: relative;

}

.slides-container {
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: center;*/
  /* min-width: 300vw; */
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;




}

.other {
  display: none
}

.others-active {
  display: flex;
  width: 600vw;
}


@media screen and (max-width: 1280px) {

  .App {

    overflow: auto;


  }

  .all-content {
    min-width: 100vw;
    max-height: 100vh;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;

    transform: rotate(0) translateX(0);
    /* transform-origin:none ;
       -ms-overflow-style: none; */
    scrollbar-width: auto;
    /* font-family: "Madena"; */

  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* 
  .slide {
    min-width: 100vw;
    height: 100vh;
    position: relative;

  } */

  .slides-container {
    /* position: relative;
    display: flex;
    flex-direction: row; */

    transform: rotate(0) translateY(0);
    transform-origin: none;




  }

  .other {
    display: none
  }

  /* .others-active {
    display: flex;
    width: 600vw;
  } */





}

@media screen and (max-width: 950px) {
  .App {
    /* position: relative;
    min-height: 100vh;
    max-width: 100vw; */
    overflow: hidden;

  }

  .all-content {
    width: 100vw;
    height: 100vh;
    overflow-y: visible;
    overflow-x: hidden;

    /* transform: rotate(0deg) translateX(0);
       transform-origin:none ;
       -ms-overflow-style: none;
       scrollbar-width: none;
       font-family: "Madena"; */

  }

  .slide {
    max-width: 100vw;
    min-height: 100vh;
    position: relative;

  }

  .slides-container {
    /* position: relative;
    display: flex; */
    flex-direction: column;
    /* justify-content: center;
    min-width: 300vw;
    transform: rotate(0deg) translateY(0);
    transform-origin: none; */
  }

  .others-active {
    /* display: flex; */
    flex-direction: column;
    width: 100vh;
    min-height: 600vh;
  }





}

/* @media screen and (max-width: 700px) {
  .App{
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
       
    }
    .all-content{
      width:100vw;
      height: 100vh;
      overflow-y: visible;
     
       overflow-x: hidden;
       
       transform: rotate(0deg) translateX(0);
       transform-origin:none ;
       -ms-overflow-style: none;
       scrollbar-width: none;
       font-family: "Madena";
    
    }
    .slide{
      max-width: 100vw;
      min-height: 100vh;
      position: relative;
     
    }
    .slides-container{
     position: relative;
      display: flex;
    
        transform: rotate(0deg) translateY(0);
        transform-origin:none ;
    }
    .others-active{
      display: flex;
      flex-direction: column;
      width: 100vh;
      min-height: 600vh;
    }
        
    
     
    

} */