:root{
   
    --color-primary:  #030514;
    --color-secondary:  #ffffff;
    --color-tertiary:  #f82cbb;
}

@font-face {
    font-family: 'Madena'; 
    src: url('./assets/fonts/Merchant/Variable-TT/Merchant-VF.ttf') ;

  }

@font-face {
    font-family: 'Geologica'; 
    src: url('./assets/fonts/geologica/fonts/variable/Geologica[CRSV\,SHRP\,slnt\,wght].ttf') ;
   
  }
@font-face {
    font-family: 'Grotesk'; 
    src: url('./assets/fonts/BDO_grotesk/fonts/variable/BDOGrotesk-VF.ttf') ;

  }
 
.App{
position: relative;
height: 100vh;
max-width: 100vw;
overflow: hidden;
   
}
.all-content{
  width:100vh;
  height: 100vw;
 
   overflow-x: hidden;
   
   transform: rotate(-90deg) translateX(-100vh);
   transform-origin:top left ;
   -ms-overflow-style: none;
   scrollbar-width: none;
   font-family: "Madena";

}
::-webkit-scrollbar{
  display: none;
}
.slide{
  min-width: 100vw;
  height: 100vh;
  position: relative;
 
}
.slides-container{
 position: relative;
  display: flex;
    flex-direction: row; 
    /* justify-content: center;*/
    /* min-width: 300vw; */
    transform: rotate(90deg) translateY(-100vh);
    transform-origin:top left ;
    

 

}

.other{
  display: none
}
.others-active{
  display: flex;
  width: 600vw;
}
/* .active-scroll-animation {
  transform: translate(0);
  opacity: 1;

} */
