

@font-face {
    font-family: 'Madena'; 
    src: url('./assets/fonts/Merchant/Variable-TT/Merchant-VF.ttf') ;
    /* Vous pouvez également inclure d'autres formats de police ici pour une meilleure compatibilité avec les navigateurs */
  }
@font-face {
    font-family: 'welcome'; /* Le nom que vous souhaitez donner à votre police */
    src: url('./assets/fonts/welcome_home/Welcome\ Home.otf') ;
    /* Vous pouvez également inclure d'autres formats de police ici pour une meilleure compatibilité avec les navigateurs */
  }
@font-face {
    font-family: 'voyage'; /* Le nom que vous souhaitez donner à votre police */
    src: url('./assets/fonts/MADE_voyager/MADEVoyagerPERSONALUSE-Regular.otf') ;
    /* Vous pouvez également inclure d'autres formats de police ici pour une meilleure compatibilité avec les navigateurs */
  }
@font-face {
    font-family: 'funever'; /* Le nom que vous souhaitez donner à votre police */
    src: url('./assets/fonts/Petrona/Petrona-Italic-VariableFont_wght.ttf') ;
    /* Vous pouvez également inclure d'autres formats de police ici pour une meilleure compatibilité avec les navigateurs */
  }
.App{
    min-width: 100vw;
    max-height: 100vh;
   
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    /* display:inline-block; */
    /* white-space:nowrap; */
    /* rotate: -90deg; */
}
.slide{
  width: 100vw;
  height: 100vh;
}
.slides-container{
 
  display: flex;
    flex-direction: row;
    /* justify-content: center; */
    

 

}
.active-scroll-animation{
  transform: translatey(0);
 opacity: 1;

}