.moving-text-container{
   width: 100%;
    display: flex;
    align-items: center;  
    overflow: hidden;
}
.moving-text-span{
    color: var(--color-primary);
    font-size: 30px;
    font-weight: 300;
    white-space: nowrap;
    letter-spacing: 15px;
    transition: font-weight 1s ease-in-out,font-variation-settings 1s ease-in-out;
    animation: MovingText 15s linear infinite;
    text-transform: uppercase;
    font-variation-settings:"wdth" 90;
    padding-top: 3px;
}
.moving-text-container:hover .moving-text-span{
   font-weight: 600;
   font-variation-settings:"wdth" 100;
   
}
@keyframes MovingText  {
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(0%)
    }
  
}