

.about-me-container{
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* padding: 80px; */
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
   
}
.about-me-slide2-all-content{
 
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.about-me-content-title{
    font-family: 'Madena';
    font-size: 220px;
     font-weight: 100;
     font-stretch: condensed;
  /* background-color: aqua; */
   /* text-shadow: rgba(0, 0, 0, 0.067) 1px 0 10px; */

   transition: font-weight 0.8s ease-in-out, font-size 0.8s ease-in-out;
   position: relative;
   color: #000000;
  
  white-space: nowrap;
  letter-spacing: 5px;
  /* overflow: visible; */
 
}
/* .about-me-content-title::after{
  content: 'Passionate About';
    font-family: 'Madena';
    font-size: 250px;
     font-weight: 100;
     font-stretch: condensed;


   transition: font-weight 0.8s ease-in-out, font-size 0.8s ease-in-out;
   position: absolute;
   top:0;
   right: 0;
  width: 100%;
   bottom: 0;
   color: #000000;
   -webkit-text-fill-color: #000000;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
 
} */
.about-me-content-title-container{
    position: relative;
    margin-left: 20px;
    width: fit-content;
    padding: 10px;
}
.about-me-content-title::before {
  content: ""; 
  position: absolute; 
  bottom: 15px; 
  left: 0; 
  width: 0%; 
  height: 5px; 
  background-color: #000000;
 
  transition: width 0.8s ease-in-out;
 
}
.about-me-content-title-container:hover .about-me-content-title::before {
  width: 100%;
 
}
.about-me-content-title-container:hover .about-me-content-title {
font-weight: 200;
font-size: 240px;

/* border-bottom: 2px solid black; */
  }
  .span-title-slide2{
    font-weight: 500;
  }
  .about-me-spiky-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: aqua; */
    min-width: 300px;
    margin-right: 30px;
    
  }
  .about-me-spiky-text {
  
    /* color: #ffffff; */
    font-size: 40px;
    font-family: "funever";
   font-weight: 600;
    height: 160px;
    width: 240px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.8s ease-in-out ;
  }


  .about-me-spiky{
    width:400px;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   /* background-color: aquamarine; */
  }
  .about-me-spiky-text:hover  {

    font-size: 45px;
   
       }
  /* .about-me-spiky-text:hover .about-me-spiky-container{

   width: 100%;
   
       } */
      
 
  
 /* @keyframes smoke{
    0%{
      transform: rotate(0deg) translateY(0px);
      opacity: 1;
      filter: blur(1px);
    }
    100%{
      transform: rotate(45deg) translateY(-200px);
      opacity: 0;
      filter: blur(20px);
    }
  } */
/* .about-me-content-title-container:hover .about-me-hover-title{
   bottom: 100%;
}
.about-me-hover-title{
position: absolute;
background-color: #000000;
top:0;
right: 0;
left: 0;
bottom: 0;
transition: bottom 0.8s ease-in-out;
} */
.hide-about-me-content{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1.4s ease-in-out;
    z-index: 5;
    overflow: hidden;
}
.hide-about-me-content-title{
    color: #ffffff;
    font-size: 190px;
  
    font-family: 'funever';
    white-space: nowrap;
    transition: font-size 1.4s ease-in-out;
    

}
/* .active-scroll-animation{
    transform: translatey(0);
   opacity: 1;

} */
/* .about-me-content{
    min-width: 100vw;
    max-height: 100vh;
    background-color: #ffffff;
    padding: 120px;
}
.about-me-content p{
    font-family: 'Madena';
    font-size: 70px;
} */