.about-slide3 {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.about-slide3-titles-container {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    position: relative;
}

/* .about-slide3-arrow-logo {
    position: absolute;
    opacity: 0;
    width: 50px;
    bottom: 40px;
    right: 40px;
    transform: translateY(-150px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out
} */

.about-slide3-img-container {
    width: 26%;
    height: 60%;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-slide3-title-container {
    width: fit-content;
    position: relative;
    padding: 10px;
    margin: 10px;
    background-color: var(--color-primary);
}

.about-slide3-title {
    font-weight: 100;
    font-size: 140px;
    margin-top: 20px;
    color: var(--color-secondary);
    font-stretch: condensed;
    font-variation-settings: "wdth" 94;
    letter-spacing: 10px;
    transition: font-variation-settings 0.8s ease-in-out, font-weight 0.8s ease-in-out;
    user-select: none;
}

.about-slide3-title-container:hover .about-slide3-title {
    font-weight: 300;
    font-variation-settings: "wdth" 100;
}

.hide-about-slide3-title1,
.hide-about-slide3-title2,
.hide-about-slide3-title3 {
    position: absolute;
    inset: 0;
    background-color: var(--color-primary);
    transition: right 0.8s ease-in-out;
}

.icon-skill {
    width: 130px;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
    user-select: none;
}

.icon-skill:hover {
    transform: scale(1.05);
}

.html-icon,
.css-icon,
.typescript-icon { 
    transform: translateY(-100px);
}

.react-icon {
    transform: translateX(-100px);
}

.next-icon {
    transform: translateX(100px);
}

.redux-icon,
.figma-icon,
.github-icon {
    transform: translateY(100px);
}


.moving-text-about-slide3 {
    opacity: 0;
    width: 100%;
    /* background-color: var(--color-primary); */
    padding: 3px;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.active-hide-about-title{
    right: 100%;
}
.active-scroll-animation {
    transform: translate(0);
    opacity: 1;

}


@media screen and (max-width: 1650px) {
  
    .about-slide3-title {
       
        font-size: 90px;
        
    }
    .icon-skill {
        width: 90px;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        opacity: 0;
    }
  
  }
@media screen and (max-width: 1279px) {
  
    .about-slide3-title {
       
        font-size: 60px;
        
    }
    .icon-skill {
        width: 60px;
  
    }
  
  }
@media screen and (max-width: 950px) {
  
    .about-slide3-titles-container {
        width: 100%;
        height: 50%;
       
    }


.about-slide3-img-container {
    width: 100%;
    height: 40%;
    display: flex;
    padding-right: 0px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    

    
}

.about-slide3-title-container {

    padding: 10px;
    margin: 10px;
    background-color: var(--color-primary);
}

.about-slide3-title {
    font-weight: 100;
    font-size: 80px;
    margin-top: 10px;
   
}
  
          
.icon-skill {
    width: 90px;
   
}

.html-icon,
.css-icon,
.typescript-icon { 
    transform: translateY(50px);
}

.react-icon {
    transform: translateY(50px);
}

.next-icon {
    transform: translateY(50px);
}

.redux-icon,
.figma-icon,
.github-icon {
    transform: translateY(50px);
}     
  
  }
@media screen and (max-width: 800px) {
  
    .about-slide3-titles-container {
        width: 100%;
        height: 50%;
       
    }


.about-slide3-img-container {
    width: 100%;
    height: 40%;
    display: flex;
    padding-right: 0px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    

    
}

.about-slide3-title-container {

    padding: 10px;
    margin: 10px;
    background-color: var(--color-primary);
}

.about-slide3-title {
    font-weight: 100;
    font-size: 30px;
    margin-top: 10px;
   
}
  
          
.icon-skill {
    width: 70px;
   
}

.html-icon,
.css-icon,
.typescript-icon { 
    transform: translateY(50px);
}

.react-icon {
    transform: translateY(50px);
}

.next-icon {
    transform: translateY(50px);
}

.redux-icon,
.figma-icon,
.github-icon {
    transform: translateY(50px);
}     
  
  }