.about-me-container {
  min-width: 100vw;
  height: 100vh;
  background-color: var(--color-secondary);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.about-me-slide2-all-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.about-me-content-title {
  font-family: 'Madena';
  font-size: 220px;
  font-weight: 100;
  font-stretch: condensed;
  transition: font-weight 0.8s ease-in-out, font-size 0.8s ease-in-out;
  position: relative;
  color: var(--color-primary);
  white-space: nowrap;
  letter-spacing: 5px;
  user-select: none;


}

.about-me-content-title-container {
  position: relative;
  margin-left: 20px;
  width: fit-content;
  padding: 10px;
}

.about-me-content-title::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--color-primary);
  transition: width 0.8s ease-in-out;

}

.about-me-content-title-container:hover .about-me-content-title::before {
  width: 100%;

}

.about-me-content-title-container:hover .about-me-content-title {
  font-weight: 200;
  font-size: 240px;
}

.span-title-slide2 {
  font-weight: 500;
}

/* 
.about-me-spiky-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 300px;
  margin-right: 30px;

} */

/* .about-me-spiky-text {
  font-size: 40px;
  font-family: "funever";
  font-weight: 600;
  height: 160px;
  width: 240px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.8s ease-in-out;
} */



.hide-about-me-content {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 1.4s ease-in-out, bottom 1.4s ease-in-out, right 1.4s ease-in-out, left 1.4s ease-in-out;
  z-index: 5;
  overflow: hidden;
}

.active-hide-about-me-content {

  right: 100%;


}

.hide-about-me-content-title {
  color: var(--color-secondary);
  font-size: 190px;
  font-family: 'Grotesk';
  white-space: nowrap;
  transition: font-size 1.4s ease-in-out;
  user-select: none;
}

@media screen and (max-width: 1680px) {

  .hide-about-me-content-title {

    font-size: 100px;

  }

  .about-me-container {
    max-width: 100vw;
    min-height: 100vh;



  }

  .about-me-slide2-all-content {
    display: flex;
    justify-content: space-between;
    padding: 0px;

  }

  .about-me-content-title {

    font-size: 180px;



  }

  .about-me-content-title-container {

    margin-left: 0;


  }

  .about-me-content-title-container:hover .about-me-content-title {
    font-weight: 200;
    font-size: 190px;
  }

  .about-me-content-title::before {

    height: 2px;


  }




}

@media screen and (max-width: 1280px) {

  .hide-about-me-content-title {

    font-size: 70px;

  }

  .about-me-container {
    max-width: 100vw;
    min-height: 100vh;



  }

  .about-me-slide2-all-content {
    display: flex;
    justify-content: space-between;
    padding: 0px;

  }

  .about-me-content-title {

    font-size: 130px;



  }

  .about-me-content-title-container {

    margin-left: 0;


  }

  .about-me-content-title-container:hover .about-me-content-title {
    font-weight: 200;
    font-size: 140px;
  }

  .about-me-content-title::before {

    height: 2px;


  }




}

@media screen and (max-width: 950px) {

  .hide-about-me-content-title {

    font-size: 80px;

  }

  .about-me-container {
    max-width: 100vw;
    min-height: 100vh;



  }

  .about-me-slide2-all-content {
    display: flex;
    justify-content: space-between;
    padding: 0px;

  }

  .about-me-content-title {

    font-size: 150px;
    white-space: wrap;


  }

  .about-me-content-title-container {

    margin-left: 0;


  }

  .about-me-content-title-container:hover .about-me-content-title {
    font-weight: 200;
    font-size: 160px;
  }

  .about-me-content-title::before {

    bottom: 5px;
    left: 0;
    width: 0%;
    height: 2px;

  }




}

@media screen and (max-width: 800px) {

  .hide-about-me-content-title {

    font-size: 50px;

  }

  .about-me-container {
    max-width: 100vw;
    min-height: 100vh;



  }

  .about-me-slide2-all-content {
    display: flex;
    justify-content: space-between;
    padding: 0px;

  }

  .about-me-content-title {

    font-size: 40px;



  }

  .about-me-content-title-container {

    margin-left: 0;


  }

  .about-me-content-title-container:hover .about-me-content-title {
    font-weight: 200;
    font-size: 45px;
  }

  .about-me-content-title::before {

    bottom: 5px;
    left: 0;
    width: 0%;
    height: 2px;

  }

}