.about-slide1 {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  

}

.about-titles-container {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    transform: translateY(-100px);
    opacity: 0;
    transition:
        transform 0.8s ease-in-out,
        opacity 0.8s ease-in-out;

}

.about-title-container {
    height: 28%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-secondary);
}

.about-title {
    width: fit-content;
    color: var(--color-primary);
    font-size: 200px;
    font-weight: 100;
    transition: font-weight 0.8s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 30px;

}

.about-title:hover {
    font-weight: 900;
}

.hide-about-title1,
.hide-about-title2,
.hide-about-title3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-secondary);
    transition: right 0.8s ease-in-out;
}

.about-lets-talk-container {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.about-lets-talk {
    background-color: var(--color-secondary);
    height: 300px;
    width: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-200px);
    opacity: 0;
    transition:
        transform 0.8s ease-in-out,
        opacity 0.4s ease-in-out
}

.about-lets-talk-content {
    font-size: 60px;
    color: var(--color-primary);
    transition: font-style, font-weight 0.4s ease-in-out;
    font-weight: 200;
}

.about-lets-talk-arrow {
    width: 70px;
    transition: width 0.4s ease-in-out;
}

.about-lets-talk-container:hover .about-lets-talk-arrow {
    width: 90px;
}

.about-lets-talk-container:hover .about-lets-talk-content {
    font-weight: 400;
}

.active-scroll-animation {
    transform: translateY(0);
    opacity: 1;

}